body{
  background-color: darkcyan;
}

.containerBackground{
  background-color: darkturquoise;
}

.header{
  display: flex;
  justify-content: space-between;
}

.form{
  font-size: 1.5em;
}

.delete{
  background-color: rgb(195, 61, 49);
  border: rgb(59, 54, 54) 3px groove;
  height: 25px;
}

.buttonContainer{
  position: relative;
  left: 45%;
}

.modalOverlay{
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vh;
}

.modalContent{
   background-color: white;
   border: 5px solid rgb(175, 218, 32);
   width: 30%;
}

label>div{
  height: 28px;
  width: 28px;
}

input{
  background-color: lightgreen;
}

.hidden{
  display: none;
}
